#overlay {
    position: fixed;
    display: none;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#overlay div {
    margin: auto;
}

#page-num {
    width: 50px;
    margin-left: 5px;
}
